{% extends 'base.tmpl' %}

{% block content %}
<h1>Сайт студентки 4 курсу групи ІНМ-19 Корсун Уляни для демонстрації лабораторних робіт з веб-програмування.</h1>
<img id="img2" src="https://mir-s3-cdn-cf.behance.net/projects/max_808_webp/ee13bb168078899.Y3JvcCwxOTE3LDE1MDAsODQ5LDA.png" alt="">
{% endblock content %}