{% extends 'base.tmpl' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>
	Задача3. Дано номер місяця - ціле число в діапазоні 1-12 (1 - січень, 2 -
	лютий і т. д.). Вивести назву відповідної пори року ( «зима», «весна», «літо»,
	«осінь»). Вивести умову задачі, початкові значення та результуючі.
	</h3>
	<p>Номер місяця: {{month}}</p>
	<p>Пора року: {{season}}</p>
	<p><h3>
	Задача13. Елементи рівнобедреного прямокутного трикутника пронумеровані в
	такий спосіб: 1 - катет a, 2 - гіпотенуза c = a^2, 3 - висота h, опущена на
	гіпотенузу (h = c / 2), 4 - площа S = c · h / 2. Дано номер одного з цих елементів і
	його значення. Вивести значення інших
	елементів даного трикутника (в тому ж порядку). Вивести умову задачі,
	початкові значення та результуючі.
	</h3></p>
	<p>Результат виконання: a = {{a}}, c = {{c}}, h = {{h}}, S = {{S}}</p>
</body>
</html>


{% endblock content %}
