{% extends 'base.tmpl' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/style.css">
    <title>Document</title>
</head>
<body id="b">
    <div id="d1">1</div>
<div id="dd">
    <div id="d3" >3<img id="img1" src="https://mir-s3-cdn-cf.behance.net/project_modules/fs/0625cf157052181.637254875731b.jpg" alt=""> </div>
    <div id="d4">4</div>
</div>
    <div id="d2">2</div>
    <div id="d5">5</div>   
</body>
</html>
{% endblock content %}