{% extends 'base.tmpl' %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Корсун Уляна, 20 років, навчаюсь в КДПУ на фізико-математичному факультеті, проживаю в смт Радушне.
    <ul>Займаюсь такою діяльністю:
        <li>Викладаю англійську мову в школі для 5-9 класів</li>
        <li>Викладаю інформатику в школі для 5-11 класів</li>
		<li>Репетиторство з математики</li>
        <li>Хореографія</li>
    </ul>
    <img id="img3" src="https://mir-s3-cdn-cf.behance.net/projects/max_808_webp/32237f100920459.Y3JvcCwxMTc4LDkyMiwxMTAsMA.jpg" alt="">
</body>
</html>
{% endblock content %}
                            